.wrapper {
    width: 100%;
}

.projects {
    position: relative;
    margin: var(--lg-spacer) 0px;
    display: flex;
    gap: 2rem;
    overflow: scroll;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    scroll-snap-type: x mandatory;
    scroll-padding: 0%;
}

.projects::-webkit-scrollbar {
    display: none;
}

.projects .project:nth-child(2) {
    filter: opacity(0.4);
    transform: scale(90%);
}

.project {
    scroll-snap-align: start;
    flex-shrink: 0;

    max-width: 100%;
    border-top: 1px solid var(--secondary-color-light);
    border-bottom: 1px solid var(--secondary-color-light);
    border: 1px solid var(--secondary-color-light);
    border-radius: var(--lg-border-radius);

    padding: var(--lg-spacer);

    display: flex;
    flex-direction: column;
}

.divider {
    margin: var(--lg-spacer) 0px;
    height: 1px;
    width: 100%;
    background-color: var(--secondary-color-light);
    justify-self: stretch;
}

.project_stack {
    display: flex;
    flex-wrap: wrap;
    gap: var(--lg-spacer);
    
    margin-top: var(--xsm-spacer);
    margin-bottom: var(--sm-spacer);
}

.stack_item {
    height: 51px;
    width: 51px;
    border: 2px solid var(--secondary-color-light);
    border-radius: 100vw;
}


@media (min-width: 699px) {
    .projects {
        padding-right: 1fr;
    }

    .project {
        max-width: 540px;
    }
}