.projects_wrapper {
    overflow: hidden;
}

.projects_window {
    position: relative;
    /* background-color: green; */
    
    margin: 1rem 0rem;
    width: 100%;
    min-height: 500px;

    width: 100%;
}

.image__container {
    position: absolute;
    
    background-color: var(--primary-color);
    /* height: min-content; */
    top: 0px;
    width: 60%;
    height: min-content;

    padding: var(--lg-spacer) var(--xl-spacer);
    padding-left: 0;
    
    transition: transform 850ms ease-in;
}

.testBorder {
    position: relative;
    border: 1px solid var(--secondary-color-light);
    padding: var(--lg-spacer);
    border-radius: var(--lg-border-radius);
}

.image__container > * {
    /* width: 70vw; */
}

.testBorder::after {
    position: absolute;
    display: block;
    content: "";
    border-radius: var(--lg-border-radius);
    
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    background-color: white;
    opacity: 0;

    animation: opacityFadeIn 650ms ease-in;
}

@keyframes opacityFadeIn {
    0%{opacity: 0.5;}
    100%{opacity: 0}
}

.add__opacity::after {
    position: absolute;
    display: block;
    content: "";
    
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: white;
    opacity: 0.5;

    animation: opacityFade 650ms ease-in;
}

@keyframes opacityFade {
    0%{opacity: 0;}
    100%{opacity: 0.5}
}


.btn {
    margin-top: 120px;
}








.project_stack {
    display: flex;
    flex-wrap: wrap;
    gap: var(--lg-spacer);
    
    margin-top: var(--xsm-spacer);
    margin-bottom: var(--sm-spacer);
}

.stack_item {
    height: 51px;
    width: 51px;
    border: 2px solid var(--secondary-color-light);
    border-radius: 100vw;
}


/* .projects {
    position: relative;
    margin: var(--lg-spacer) 0px;
    display: flex;
    gap: 2rem;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    scroll-snap-type: x mandatory;
    scroll-padding: 0%;
}

.projects::-webkit-scrollbar {
    display: none;
}

.projects .project:nth-child(2) {
    filter: opacity(0.4);
    transform: scale(90%);
}

.project {
    scroll-snap-align: start;
    flex-shrink: 0;

    max-width: 100%;
    border-top: 1px solid var(--secondary-color-light);
    border-bottom: 1px solid var(--secondary-color-light);
    border: 1px solid var(--secondary-color-light);
    border-radius: var(--lg-border-radius);

    padding: var(--lg-spacer);

    display: flex;
    flex-direction: column;
}

.divider {
    margin: var(--lg-spacer) 0px;
    height: 1px;
    width: 100%;
    background-color: var(--secondary-color-light);
    justify-self: stretch;
}

.project_stack {
    display: flex;
    flex-wrap: wrap;
    gap: var(--lg-spacer);
    
    margin-top: var(--xsm-spacer);
    margin-bottom: var(--sm-spacer);
}

.stack_item {
    height: 51px;
    width: 51px;
    border: 2px solid var(--secondary-color-light);
    border-radius: 100vw;
}


@media (min-width: 699px) {
    .projects {
        padding-right: 1fr;
    }

    .project {
        max-width: 540px;
    }
} */