.wrapper {
    width: 100%;
}
.sub_heading {
    color: var(--secondary-color-light);
}

.projects {
    margin: var(--lg-spacer) 0px;
}

.project_description_container {
    overflow: scroll;
}

.project {
    border-top: 1px solid var(--secondary-color-light);
    border-bottom: 1px solid var(--secondary-color-light);

    padding: var(--lg-spacer);

    display: flex;
    flex-direction: column;

    gap: var(--xsm-spacer);
}

.divider {
    margin: var(--lg-spacer) 0px;
    height: 1px;
    width: 100%;
    background-color: var(--secondary-color-light);
    justify-self: stretch;
}

.project_stack {
    display: flex;
    flex-wrap: wrap;
    gap: var(--lg-spacer);
    
    margin-top: var(--sm-spacer);
    margin-bottom: var(--sm-spacer);
}

.stack_item {
    height: 51px;
    width: 51px;
    border: 2px solid var(--secondary-color-light);
    border-radius: 100vw;
}

/* .links {
    display: flex;
    justify-content: flex-end;
}

.link {
    position: relative;
    filter: saturate(var(--darker));
    height: 32px;
    width: 32px;
}

.link_icon {
    object-fit: contain;
} */

@media (min-width: 699px) {
    .projects {
        justify-content: space-between;
    }
}