.wrapper {
    min-height: calc(100vh - (var(--xxl-spacer) * 2));

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: clamp(4rem, 10vw, 6rem);
}

.top_header {
    animation: 
        top-header 0.5s cubic-bezier(0.65, 0.05, 0.36, 1),
        appear 0.5s linear forwards;
}

.bottom_header {
    align-self: flex-end;
    text-align: right;
}

.header_outlined {
    color: transparent;
    -webkit-text-stroke: 1px var(--secondary-color);
}

.bottom_header h2:first-child {
    padding-right: 10vw;
    animation: 
        bottom-header 0.5s cubic-bezier(0.65, 0.05, 0.36, 1),
        appear 0.5s linear forwards;
}

.bottom_header h2:last-child {
    animation: bottom-header 0.7s cubic-bezier(0.65, 0.05, 0.36, 1),
    appear 0.5s linear forwards;
}

/* @keyframes top-header {
    0% {
        transform: translate(-30px);
    }
    100% {
        transform: translate(0px, 0px);
    }
}
@keyframes bottom-header {
    0% {
        transform: translate(30px);
    }
    100% {
        transform: translate(0px, 0px);
    }
}
@keyframes appear {
    from {opacity: 0.4;}
} */

.content_container {
    align-self: center;
    width: clamp(300px, 40vw, 400px);

    /* with body_text set to 16px instead of 14
    width: clamp(300px, 40vw, 360px); */
}

.content_tag {
    margin-top: var(--md-spacer);
    text-align: right;
}

.content_rotatingTextCarousel {
    --height: 40px;
    position: relative;
    width: 500px;

    transform-style: preserve-3d;
    animation: rotate 10s cubic-bezier(0.65, 0.05, 0.36, 1) infinite;
}

.content_rotatingTextCarousel h4 {
    width: min-content;
}

.content_rotatingTextCarousel h4:nth-child(2) {
    color: var(--accent-color);
}

@keyframes rotate {
    16.67% {
        transform: rotateX(0deg);
    }
    25%,
    41.67%
     {
        transform: rotateX(90deg);
    }
    50%,
    66.67% {
        transform: rotateX(180deg);
    }
    75%,
    91.67% {
        transform: rotateX(270deg);
    }
    100% {
        transform: rotateX(360deg);
    }
}

.side_front,
.side_bottom,
.side_back,
.side_top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    white-space: nowrap;
}

.dummy {
    visibility: hidden;
}

.side_front {
    transform: translateZ(calc(var(--height) / 2));
    z-index: 1;
}

.side_bottom {
    transform: rotateX(-90deg) translateZ(calc(var(--height) / 2));
    background-color: var(--primary-color);
}

.side_back {
    transform: rotateX(-180deg) translateZ(calc(var(--height) / 2));
    background-color: var(--primary-color);
}

.side_top {
    transform: rotateX(-270deg) translateZ(calc(var(--height) / 2));
    background-color: var(--primary-color);
}

@media (prefers-reduced-motion) {
    .content_rotatingTextCarousel {
        animation-play-state: paused;
    }
}
