.introduction_wrapper {
    min-height: calc(100vh - (var(--xxl-spacer) * 2));

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: clamp(4rem, 10vw, 6rem);
}

.top_header {
    animation: top-header 1s cubic-bezier(0.65, 0.05, 0.36, 1);
}

.bottom_header {
    align-self: flex-end;
    text-align: right;
}

.header_outlined {
    color: transparent;
    -webkit-text-stroke: 1px var(--secondary-color);
}

.bottom_header h2:first-child {
    padding-right: 10vw;
    animation: bottom-header 1s cubic-bezier(0.65, 0.05, 0.36, 1);
}

.bottom_header h2:last-child {
    animation: bottom-header 1.4s cubic-bezier(0.65, 0.05, 0.36, 1);
}

@keyframes top-header {
    0% {
        transform: translate(-100px);
        opacity: 0;
    }
    100% {
        transform: translate(0px, 0px);
        opacity: 1;
    }
}
@keyframes bottom-header {
    0% {
        transform: translate(100px);
        opacity: 0;
    }
    100% {
        transform: translate(0px, 0px);
        opacity: 1;
    }
}

.about_container {
    align-self: center;
    width: clamp(300px, 40vw, 400px);
}

.about_container aside {
    margin-top: var(--md-spacer);
    text-align: right;
}

.rotatingTextCarousel {
    --height: 40px;
    position: relative;
    width: 500px;
    /* height: var(--height); */

    transform-style: preserve-3d;
    animation: rotate linear;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(100, end);
    animation-delay: 2s;
}

@keyframes rotate {
    0% {
        transform: rotateX(0deg);
    }
    8.33%,
    25% {
        transform: rotateX(90deg);
    }
    33.33%,
    50% {
        transform: rotateX(180deg);
    }
    58.33%,
    75% {
        transform: rotateX(270deg);
    }
    83.33%,
    100% {
        transform: rotateX(360deg);
    }
}

.side_front,
.side_bottom,
.side_back,
.side_top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /* height: 100%; */
    backface-visibility: hidden;
    white-space: nowrap;
}

.dummy {
    visibility: hidden;
}

.side_front {
    transform: translateZ(calc(var(--height) / 2));
    z-index: 1;
}

.side_bottom {
    transform: rotateX(-90deg) translateZ(calc(var(--height) / 2));
    background-color: var(--primary-color);
}

.side_back {
    transform: rotateX(-180deg) translateZ(calc(var(--height) / 2));
    background-color: var(--primary-color);
}

.side_top {
    transform: rotateX(-270deg) translateZ(calc(var(--height) / 2));
    background-color: var(--primary-color);
}

@media (prefers-reduced-motion) {
    .rotatingTextCarousel {
        animation-play-state: paused;
    }
}
