:root {
    /* ---------------------CONSTRAINTS------------------------ */
    --max-width: 1100px;

    /* -----------------------COLORS--------------------------- */
    --primary-color:rgb(40 39 41);
    --primary-color-rgb: 40 39 41;

    --secondary-color: rgb(250 250 250);
    --secondary-color-rgb: 250 250 250;
    
    --primary-color-light:  rgb(var(--primary-color-rgb) / 0.65);
    --secondary-color-light: rgb(var(--secondary-color-rgb) / 0.65);
    
    --accent-color: #E15D40;
    --accent-color: rgb(86 83 210);

    /* -----------------------FONTS--------------------------- */
    
    /* Defined in index.js imported with new@next/font */
    /*
    --primary-font: Be Vietnam Pro;
    --secondary-font: Noto Sans; 
    */
    
    --primary-font-weight: 400;
    --secondary-font-weight:  700;
    --xl-font-size: 148px;
    --lg-font-size: 64px;
    --md-font-size: 24px;
    --sm-font-size: 16px;
    --body-font-size: 12px;
    --link-font-size: 24px;
    --desktop-link-size: 12px;
    
    /* ----------------------SPACING------------------------- */
    --xxl-spacer: 8rem;     /* 128px */
    --xl-spacer: 4rem;      /* 64px */
    --lg-spacer: 1.5rem;    /* 24px */
    --md-spacer: 1rem;      /* 16px */
    --sm-spacer: 0.5rem;    /* 8px */
    --xsm-spacer: 0.25rem;  /* 4px */
}


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    background-color: var(--primary-color);
}

button {
    border: none;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}