/* -----------------------TOPOGRAPHY--------------------------- */
.body_text_dark,
.body_text_light,
.link_text_dark,
.link_text_light {
    font-family: var(--primary-font);
    font-weight: var(--primary-font-weight);
}
.body_text_dark,
.body_text_light { 
    font-size: var(--body-font-size);
}

.link_text_dark,
.link_text_light {
    font-size: var(--link-font-size);
}

.xl_heading_dark,
.xl_heading_light,
.lg_heading_dark,
.lg_heading_light,
.md_heading_dark,
.md_heading_light,
.sm_heading_dark,
.sm_heading_light {
    font-family: var(--secondary-font);
    font-weight: var(--secondary-weight);
}

.xl_heading_dark,
.xl_heading_light {
    font-size: var(--xl-font-size);
}

.lg_heading_dark,
.lg_heading_light {
    font-size: var(--lg-font-size);
}

.md_heading_dark,
.md_heading_light {
    font-size: var(--md-font-size);
}

.sm_heading_dark,
.sm_heading_light {
    font-size: var(--sm-font-size);
}

.body_text_dark,
.xl_heading_dark,
.lg_heading_dark,
.md_heading_dark,
.sm_heading_dark,
.link_text_dark {
    color: var(--primary-color);
}

.body_text_light,
.xl_heading_light,
.lg_heading_light,
.md_heading_light,
.sm_heading_light,
.link_text_light {
    color: var(--secondary-color);
}