/* -----------------------TOPOGRAPHY--------------------------- */

.body_text,
.link_text,
.body_text_light,
.link_text_light,
.tag_text {
    font-family: var(--primary-font);
    font-weight: var(--primary-font-weight);
    letter-spacing: var(--primary-letter-spacing);
}

.md_heading,
.md_heading_light,
.body_text {
    margin-bottom: var(--xsm-spacer);
}

.body_text,
.body_text_light {
    font-size: var(--body-font-size);
    line-height: 1.7em;
}

.link_text,
.link_text_light {
    font-size: var(--link-font-size);
}

.tag_text {
    font-size: var(--tag-font-size);
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-bottom: var(--xsm-spacer);
}

.xxl_heading,
.xxl_heading_light {
    font-family: var(--secondary-font);
    letter-spacing: var(--primary-letter-spacing);
}

.xl_heading,
.lg_heading,
.md_heading,
.sm_heading,
.lg_heading_light,
.md_heading_light,
.sm_heading_light {
    font-family: var(--primary-font);
}

.xxl_heading,
.xl_heading,
.lg_heading,
.md_heading,
.xxl_heading_light,
.xl_heading_light,
.lg_heading_light,
.md_heading_light {
    font-weight: var(--secondary-font-weight);
}

.xl_heading,
.lg_heading,
.md_heading,
.sm_heading,
.xl_headind_light
.lg_heading_light,
.md_heading_light,
.sm_heading_light {
    letter-spacing: var(--primary-letter-spacing);
}

.xxl_heading,
.xxl_heading_light {
    font-size: var(--xxl-font-size);
    line-height: 85%;
    letter-spacing: var(--exception-letter-spacing);
}

.xl_heading,
.xl_headind_light {
    font-size: var(--xl-font-size);
}

.lg_heading,
.lg_heading_light {
    font-size: var(--lg-font-size);
    font-weight: var(--exception-font-weight);
}

.md_heading,
.md_heading_light {
    font-size: var(--md-font-size);
    font-weight: var(--exception-font-weight);
}

.sm_heading,
.sm_heading_light {
    font-size: var(--sm-font-size);
    font-weight: var(--exception-font-weight);
    text-transform: uppercase;
}

.body_text,
.xxl_heading,
.xl_heading,
.lg_heading,
.md_heading,
.sm_heading,
.link_text {
    color: var(--secondary-color);
}

/* transperant */
.body_text_light,
.link_text_light,
.xxl_heading_light,
.xl_heading_light,
.lg_heading_light,
.md_heading_light,
.sm_heading_light {
    color: var(--secondary-color-light);
}

.tag_text {
    color: var(--accent-color);
}

/* -----------SPACER----------- */

.lg_spacer {
    margin-bottom: var(--lg-spacer);
}
