.wrapper {
    flex-grow: 1;

    position: relative;
    filter: saturate(var(--darker));
    aspect-ratio: 1 / 1;
    height: 60%;
}

.smile_image {
    object-fit: contain;
}

.text {
    position: absolute;
    top: -10%;
    right: 0;
    margin-right: 20%;
}

.text > * {
    letter-spacing: -0.09em;
    color: var(--secondary-color);
    font-size: clamp(var(--md-font-size), 8vw, var(--xl-font-size));
}

.text h2:first-child {
    transform: translateY(-1px) skew(-0.004turn, -1deg);
    animation: move 1.6s infinite ease-in-out;
}

.text h2:nth-child(2) {
    transform: translateY(-1px) skew(-0.004turn, -1deg);
    animation: move 1.6s infinite ease-in-out;
    animation-delay: 0.1s;
}

.text h2:nth-child(3) {
    transform: translateY(-1px) skew(-0.004turn, -1deg);
    animation: move 1.6s infinite ease-in-out;
    animation-delay: 0.3s;
}
.text h2:nth-child(4) {
    transform: translateY(-1px) skew(-0.004turn, -1deg);
    animation: move 1.6s infinite ease-in-out;
    animation-delay: 0.5s;
}

.text h2:nth-child(5) {
    transform: translateY(-1px) skew(-0.004turn, -1deg);
    animation: move 1.6s infinite ease-in-out;
    animation-delay: 0.7s;
}

@keyframes move {
    50%{
        transform: translateY(1px) skew(0.004turn, 1deg) scale(99%);
    }
}
