.firstSection,
.secondSection {
    --border-style: 1px solid var( --secondary-color-light);

    border-top: var(--border-style);
    border-bottom: var(--border-style);

    margin-top: var(--md-spacer);
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.firstColumn {
    border-bottom: var(--border-style);
    border-right: var(--border-style);
}

.secondColumn {
    border-bottom: var(--border-style);
    border-right: var(--border-style);
}

.thirdColumn {
    border-left: var(--border-style);
    border-right: var(--border-style);
}

.firstSection .thirdColumn div:first-child {
    border-bottom: var(--border-style);
}

.firstSection .fourthColumn div:first-child{
    border-bottom: var(--border-style);
}
.firstSection .fourthColumn div:nth-child(2){
    border-bottom: var(--border-style);
}

.additionalRow {
    padding: var(--md-spacer);
}

.secondSection .thirdColumn .additionalRow:first-child {
    border-bottom: var(--border-style);
}


/* .additionalRow:hover {
    background-color: var(--secondary-color-transparent);
} */

.line_between_sections {
    margin: var(--xl-spacer);
    height: 1px;
    width: 30%;
    background-color: var( --secondary-color-light);
    margin-left: 50%;
    transform: translateX(-50%);
}

.spacer {
    padding: var(--sm-spacer) 0;
}

@media (min-width: 699px) {
    /* .heading,
    .intro {
        text-align: end;
    } */

    .firstSection, .secondSection {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .firstColumn {
        border-bottom: none;
        border-right: var(--border-style);
    }
    
    .secondColumn {
        border-bottom: none;
        border-right: none;
    }
}