.firstTable_wrapper,
.secondTable_wrapper {
    --border-style: 1px solid var( --secondary-color-light);

    border-top: var(--border-style);
    border-bottom: var(--border-style);

    margin-top: var(--md-spacer);
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.noMarginBottom {
    margin-bottom: 0px;
}

.firstColumn {
    border-bottom: var(--border-style);
    border-right: var(--border-style);
}

.secondColumn {
    border-bottom: var(--border-style);
    border-right: var(--border-style);
}

.thirdColumn {
    border-left: var(--border-style);
    border-right: var(--border-style);
}

.firstTable_wrapper .thirdColumn div:first-child {
    border-bottom: var(--border-style);
}

.firstTable_wrapper .fourthColumn div:first-child{
    border-bottom: var(--border-style);
}
.firstTable_wrapper .fourthColumn div:nth-child(2){
    border-bottom: var(--border-style);
}

.additionalRow {
    padding: var(--md-spacer);
}

.secondTable_wrapper .thirdColumn .additionalRow:first-child {
    border-bottom: var(--border-style);
}

.line_between_sections {
    margin: var(--xl-spacer);
    height: 1px;
    width: 30%;
    background-color: var( --secondary-color-light);
    margin-left: 50%;
    transform: translateX(-50%);
}

.spacer {
    padding: var(--sm-spacer) 0;
}

@media (min-width: 699px) {
    .firstTable_wrapper, .secondTable_wrapper {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .firstColumn {
        border-bottom: none;
        border-right: var(--border-style);
    }
    
    .secondColumn {
        border-bottom: none;
        border-right: none;
    }
    /* .additionalRow {
        padding: clamp(var(--md-spacer), 3vw, 2.5rem);
    } */
}